.buttonContainer {
   align-self: center;
   display: block;
   background-color: white;
   border-radius: 20px;
   width: 10cm;
   height: 10cm;
}

.menu {
   align-self: center;
   margin: 8mm 0;
   border: none;
   width: 75%;
   font-size: 22px;
   position: relative;
   top: 25px;
   left: 50px;
   letter-spacing: 1px;
   background: radial-gradient(
      ellipse at left bottom,
      rgb(183, 186, 189) 0%,
      rgba(157, 161, 163, 0.9) 59%,
      rgba(206, 209, 209, 0.9) 100%
   );
   font-size: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 40px;
   border-radius: 5px;
   color: white;
}
.menu:hover {
   background-color: #009ece;
}
